<div class="container">
  <div class="about-me-cards">
    <div class="card" id="card-aleyole">
      <div class="featured-image">
          <img src="https://res.cloudinary.com/fannylikescoffee/image/upload/v1581170750/Profile_Pic_2_anxikj.jpg">
      </div>
    </div>
    <div class="card" id="card-aleyole">
      <div class="featured-image">
          <img src="https://res.cloudinary.com/fannylikescoffee/image/upload/v1581170750/Profile_Pic_3_p35xp7.jpg">
      </div>
    </div>
    <div class="card" id="card-aleyole">
      <div class="featured-image">
          <img src="https://res.cloudinary.com/fannylikescoffee/image/upload/v1581170750/Profile_Pic_1_nzzbo3.jpg">
      </div>
    </div>
  </div>
  <div class="description">
    <p>Oh, hello there ;)</p>
  </div>
</div>
