<div class="col-sm-11 col-xs-12 blog-content">
  <h1>Title</h1>
  <h2 class="text-center"><%= raw @post.title %></h2>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @post.body %></div>
  <div><%= @post.media %></div>
</div>
